<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>vmHupn9WhGBb8cyj12w3M6tsZRX6xpJj</string>
	<key>Domain</key>
	<string>dev-23juo9s8.us.auth0.com</string>
</dict>
</plist>
